name: Dependabot
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Run
        run: echo "dummy"

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1.4.0

      - name: v2.3.1
        uses: actions/checkout@v3

      - name: Verified creater
        uses: docker/setup-buildx-action@v2.0.0
