name: Dependabot test
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: v2.3.1
        uses: actions/checkout@v3

      - name: Verified creater v1.5.0
        uses: docker/setup-buildx-action@v1.7.0

      - name: Run
        run: echo "dummy"
